# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Terraform state files
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Ignore log files
*.log

